extends layout

block content
  - var image_names = ['wc1', 'wc2', 'wc3', 'wc4', 'wc5']
  - var height = 200
  - var width = 200
  - var displayedImages = []
  while displayedImages.length < 3
    - var randomIndex = Math.floor(Math.random() * 5)
    - var randomImage = image_names[randomIndex]
    - if (!displayedImages.includes(randomImage))
      - displayedImages.push(randomImage)
      img(
        src=`/images/${randomImage}.jpeg`,
        alt=`${randomImage}`,
        height=height,
        width=width
      )
